*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    background-color: #f1f1f1;
    position: relative;
}
.leftPanel{
    width: 18%;
    height: 100vh;
    background-color: pink;
    position: fixed;
    top: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.rightPanel{
    position: absolute;
    right: 0;
    width: 82%;
    height: 1000px;
    background-color: lightblue;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.logo{
    width: 100%;
    height: 15%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    height: 85%;
    width: 100%;
}
.listItems{
    width: 100%;
    height:13%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.listItems:hover{
    background-color: #555;
}
.listItems a{
    text-decoration: none;
    color: white;
    font-size: 1.12rem;
    font-weight: 500;
}
.icon{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text
{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links{
    height: 10%;
    width: 100%;
    background-color: #333;
}
.links ul,a, li{
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    list-style-type: none;
    font-weight: 300;
    font-size: 0.85rem;
}







.rightPanel{
    position: absolute;
    right: 0;
    width: 82%;
    background-color: green;
    /* z-index: 2; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.navBar{
    width: 100%;
    height: 12%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navBar input{
    width: 700px;
    height: 46px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: 5px;
}
.profile{
    height: 70%;
    width: 250px;
    border: 2px solid black;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.profileImg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* border: 2px solid black; */
    font-size: 1.88rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.profileUserName{
    height: 60px;
    width: 170px;
    /* border: 2px solid black; */
    font-size: 1.22rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
a{
    cursor: pointer;
}

.main{
    height: 80%;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;
}
.articlesBox{
    /* height: 400px; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    /* border: 2px solid rebeccapurple; */
    /* margin-top: 25px; */
}
.articleContainer{
    height: 400px;
    width: 100%;
    display: flex;
    border: 2px solid rebeccapurple;
    margin-top: 25px;
}
.articleImg{
    height: 100%;
    width: 35%;
    border: 2px solid yellow;
}
.articleImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.articleContent{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid hotpink;
    padding: 10px;
}
.articleHead{
height: 15%;
width: 100%;
font-size: 2rem;
font-weight: 500;
display: flex;
align-items: center;
/* border: 2px solid red; */
}
.articlePara{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.11rem ;
    /* border: 2px solid gold; */

}
.articlePara p{
    text-overflow: clip;
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;

}

.articleAuthor{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem ;
    /* border: 2px solid aqua; */
}
.articleDate{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem ;
    /* border: 2px solid orangered; */
}
.head{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.12rem;
}